@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/inter-v19-latin-regular.woff2") format("woff2"),
        url("./assets/fonts/inter-v19-latin-regular.ttf") format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/inter-v19-latin-700.woff2") format("woff2"),
        url("./assets/fonts/inter-v19-latin-700.ttf") format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/lexend-deca-v24-latin-regular.woff2") format("woff2"),
        url("./assets/fonts/lexend-deca-v24-latin-regular.ttf") format("truetype");
}
:root {
    --color-dark-blue-900: hsl(233, 47%, 7%);
    --color-dark-blue-600: hsl(244, 38%, 16%);
    --color-violet: hsl(277, 64%, 61%);
    --color-white: hsl(0, 0%, 100%);

    --color-text: hsla(0, 0%, 100%, 0.75);
    --color-heading: hsla(0, 0%, 100%, 0.6);

    --font-primary: "Inter", sans-serif;
    --font-secondary: "Lexend Deca", sans-serif;
    --font-normal: 400;
    --font-bold: 700;

    --background-violet: hsla(277, 99%, 30%, 0.42);
    --background-light-violet: hsl(293deg, 42%, 35%, 0.24);
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
img,
picture,
svg {
    display: block;
    max-width: 100%;
}
body {
    -webkit-font-smoothing: antialiased;
    line-height: 1;
}
main {
    min-height: 100vh;
    background-color: var(--color-dark-blue-900);
    font-family: var(--font-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}
.intro__card {
    overflow: hidden;
    color: var(--color-text);
    background-color: var(--color-dark-blue-600);
    border-radius: 0.75rem;
    max-width: 26.25rem;
}
.intro__hero {
    position: relative;
}
.intro__hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--background-violet);
}
.intro__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.intro__content {
    padding-inline: clamp(1.875rem, 5.236vw + 0.648rem, 4.438rem);
    padding-block-start: clamp(2.5rem, 1.527vw + 2.142rem, 2.875rem);
    padding-block-end: 2.5rem;
    text-align: center;
}
.intro__title {
    color: var(--color-white);
    line-height: clamp(2rem, 1.533vw + 1.641rem, 2.75rem);
    margin-bottom: clamp(1rem, 1.149vw + 0.731rem, 1.563rem);
    font-size: clamp(1.75rem, 0.751vw + 1.574rem, 2.25rem);
}
.intro__title--highlight {
    color: var(--color-violet);
}
.intro__description {
    margin: var(--text-margin);
    font-size: 0.9375rem;
    line-height: 1.5625rem;
    margin-bottom: clamp(2.625rem, 3.005vw + 1.921rem, 4.625rem);
}
.stat__list {
    padding: 0;
    list-style: none;
    display: grid;
    gap: 2rem;
}
.stat__value {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 0.6875rem;
    color: var(--color-white);
}
.stat__description {
    text-transform: uppercase;
    font-family: var(--font-secondary);
    font-size: 0.8125rem;
    letter-spacing: 0.02em;
}

@media (min-width: 30em) {
    .stat__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 48em) {
    .intro__card {
        display: flex;
        flex-direction: row-reverse;
        max-width: 69.375rem;
    }
    .intro__card > * {
        width: 50%;
    }
    .intro__content {
        text-align: start;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
